<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lhy.management.student.mapper.StudentMapper" >

    <sql id="studentInfo">
        id as id,
        name as name,
        sex as sex,
        mobile as mobile,
        parent_mobile as parentMobile,
        parent_name as parentName,
        remark as remark,
        age as age
    </sql>

    <!--添加新的学员信息-->
    <insert id="saveNewStudent" parameterType="com.lhy.management.student.model.StudentInfoModel">
            insert into t_mng_student
            (name,sex,mobile,parent_mobile,parent_name,remark,age)
            values
            (
                #{name},
                #{sex},
                #{mobile},
                #{parentMobile},
                #{parentName},
                #{remark},
                #{age}
            )
        <selectKey keyProperty="id" resultType="Long">
            <![CDATA[
              SELECT LAST_INSERT_ID();
            ]]>
        </selectKey>
    </insert>

    <select id="getStudentList" resultType="com.lhy.management.student.model.StudentInfoModel" parameterType="com.lhy.management.student.model.StudentInfoModel">
        select
        <include refid="studentInfo"/>
        from
        t_mng_student
        where
        1 = 1
        <if test="name != null and name != ''">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile like CONCAT('%',#{mobile},'%')
        </if>
    </select>

    <update id="updateStudent" parameterType="com.lhy.management.student.model.StudentInfoModel">
        update t_mng_student
        set
        name = #{name}
        <if test="mobile != null and mobile != '' ">
            ,mobile = #{mobile}
        </if>
        <if test="parentName != null and parentName != '' ">
            ,parent_name = #{parentName}
        </if>
        <if test="parentMobile != null and parentMobile != '' ">
            ,parent_mobile = #{parentMobile}
        </if>
        <if test="remark != null">
            ,remark = #{remark}
        </if>
        where
        id = #{id}
    </update>
</mapper>
